

body{
    /* color: #777777 !important; */
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    
}


/* start header */
header {
    background-color: #fff !important;
    padding: 5px 0px;
}
.meno ul li a {
    font-size: 12px;
    font-weight:500;
    color: #010101 !important;
    padding:0 10px !important;
}
.meno ul li:last-child a {
    padding-right: 0px !important;
}
.meno ul li a:hover {
    color: #8490ff !important;
    transition: .3s;
}
/* end header */

/* start banner */
.banner{
    padding:160px 0px 0px 0px ;
    background-color: #f8f8f8;
}

.b_h6{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    color: black;
    font-weight: 200;
    margin: 0px
}
.b_h1{
    margin: 20px 0;
    font-size: 40px;
    text-transform: uppercase;
    color: black;
}
.b_p{
    margin-bottom: 1rem;
}
.prime-btn{
    background: #8490ff;
    line-height: 42px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    transition: all 0.3s ease 0s;
  
}
.b_img{
    width: 100%;
}
.b_img img{
    width: 100%;
}
/* end banner */


/* start about */
.about{
    padding: 80px 0px;
}
.a_col{
    padding-left: 100px;
}
.a_h6{
    padding-bottom: 10px;
}
.a_p{
    padding: 10px 0px;
}
/* end about*/




/* start services */
.services{
    width: 35%;
    margin: auto;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 60px;
    /* border: 1px solid red; */
}

.s_h1{
   

}
.s_p{
    color: #777777;
}

/*  start serviec single item */
.seviecs-item{
    margin:0px auto;
    padding-bottom: 120px;
}
.col-lg-4 a {
    text-decoration: none;
    color: black;
}
.col-lg-4 p{
    color:#777777; ;
}
.single-service{
    text-align: center;
    padding: 0px 2px 30px;

}
.single-service:hover {
    color: #8490ff;
}
.icon{
    font-size: 30px;
}
.hover-1:hover{
    color: #8490ff;
}
.s_h4{
    margin: 30px 0px 20px;
}


/* start latest featured */
.p-inline{
    padding: 20px 0px;
}
.p-inline p{
    color:#777777;
}
/* hover img */
.hover-img{
    background-color: rgba(132, 144, 255, 0.1);
    width: 340px;
    height: 339px;
    }

.l_f{
    padding: 60px 0px;
}
/* end latest featured */


/* Choose Your Plan start  */
.your_plan{
    margin: 70px 80px;
    background-color: #f9f9ff;
    text-align: center;
}


.single-item{
    padding: 30px 0px;
    transition: all 0.5s ease;
    
}
.single-item:hover{
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    color: white;
    padding: 10px;
}

.single-item:hover .rate{
    display: none;
}
.single-item:hover .btn-1{
    display: block;
}
.btn-1{
    background-color: white;
    padding: 10px 80px;
    color: black;
    font-weight: 400px;
    display: none;
}
.package-list{
    padding-bottom: 30px;
    padding-top: 15px;
}
.package-list ul li {
    padding: 10px 0;
    border-top: 1px solid #eee;
    list-style: none;
}
.pack-no {
        font-weight: 300;
        margin-left: auto;
        margin-right: auto;
        width: 140px;
        height: 140px;
        background-color: rgba(132, 144, 255, 0.1);
        border-radius: 100px;
        align-items: center;
        display: grid;
        border: 30px solid rgba(132, 144, 255, 0.1);
}
.top-part{

}
.rate{
    font-size: 1.5rem !important;
}


/* end choose your plan */




/* <!-- complete project start --> */

.complete{
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    color: white;
    font-weight: 700px;
    padding: 120px 0px;
}
.complete h1{
    font-weight: 700;
}







/*start latest posts  */

.latest{
    background-color:#f9f9ff;
    padding: 120px 0px;
}
.l_p h1{
    margin: 0px 0px 25px;
    font-weight: 700;
}
.l_p p{
    margin: 0px 0px 45px;
    color: #777777;
    padding: 0px 8px 0px;
}
.single-recent-blog{
    padding-bottom: 50px;
}


/* latest post 2nd step */
.thumb{
    width: 100%;
}
.thumb img{
    width: 100%;
}
 .meta span{
    margin-left: 9px;
}
.bottom{
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
    margin-bottom:20px ;
}
.im-s{

}

/* latest post 3rd row */
.latest-p h6{
    text-transform: uppercase;
    margin-top: 16px;
    transition: all 0.3s ease 0s;
    font-weight: ;

}
.latest-p{
    text-align: start;
}




/* start brand */
.brand-wrap{
    background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    padding: 90px 0px;
}
/* end brand */


/* footer start */
footer {
    background-color:#04091e;
    color: #777777;
    padding: 80px 0px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .f-h4{
    color: white;
    font-size: 18px;
  }
  a {
    text-decoration: none !important;
  }
  .f-ul ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: white;
  }
  .f-ul ul li {
    float: left;
    padding-right:15px;
  }
/* footer end */







